.container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .operation {
  width: 100%;
  display: flex;
  align-items: center;
}

.operation button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #304ffe;
  color: #fff;
  font-size: 1.5rem;
  margin: 0 2px;
}

.alert {
  width: 100%;
  height: 40px;
  margin: 5px 0 25px;
}
.alert p {
  background-color: #d32f2f;

  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: #fff !important;
  font-size: 0.8rem;
}
.alert span {
  font-size: 1.2rem;
  color: #fff;
}
